/* Ensure #root takes up full height and width */
#root {
  margin: 0;
  padding: 0; /* Remove padding */
  width: 100%;   /* Set width to 100% */
  height: 100%;  /* Set height to 100% */
}

/* Make sure body and html take full height of the screen */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; /* Ensure full width */
}

.App {
  display: flex;
  justify-content: center; /* Horizontally center content */
  align-items: center;     /* Vertically center content */
  height: 100vh;           /* Full viewport height */
  width: 100%;             /* Ensure it takes full width */
  text-align: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(45deg, #000a26 55%, rgb(249, 249, 194) 100%); /* Initial gradient */
  background-size: 200% 200%; /* Make the gradient large so it can shift */
  background-position: 0% 50%; /* Start position of the gradient */
  transition: background-position 120s linear; /* Animate the background position */
}

.App.clicked {
  background-position: 100% 50%; /* End position of the gradient */
}

.App-header {
  position: absolute;       /* Positions the header in the top-left corner */
  top: 10px;                /* Adjust top distance */
  left: 20px;               /* Adjust left distance */
  font-size: 16px;          /* Optional: Change font size */
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  position: absolute;
  top: 10px;
  right: 20px;
}

.centered-image {
  width: 10px;             /* Set your desired width */
  height: auto;             /* Maintains the aspect ratio */
  /*border-radius: 10px;      /* Optional: Add rounded corners */
  transition: width 120s linear;
}

.centered-image.clicked {
  width: 1000px;
}