@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


:root {
  --transition-time: 1.5s;
}

/* Remove default padding and margin for body and html */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto; /* Prevent extra scroll */

  
}


header {
  padding-bottom: 10%;
}




.bg-active {
  background-image: url('assets/dukeonhisknees.jpg');
  background-size: 130%;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.bg-inactive {
  background-color: black;
}

#root {
  margin: 0;
  padding: 0; /* Remove padding */
  width: 100%;   /* Set width to 100% */
  height: 100vh;  /* Set height to 100% */
  display: flex;
  flex-direction: column;    /* Stack the content vertically */
  justify-content: flex-start; /* Align the items to the top */
  align-items: center;  
  /*background-color: rgba(151, 190, 246, 0.7)*/
}

h1 {
  padding: 0;
  margin: 1rem;
  font-family: Tangerine;
  font-size: 100px;
}
*, *:before, *:after {
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Flexbox container for the app */
.App {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;    /* Stack the content vertically */
  justify-content: flex-start; /* Align the items to the top */
  align-items: center;    
  flex-grow: 1;             /* Full viewport height */
  width: 100%;                /* Full width */
  margin: 0;                  /* Remove any margin */
  padding: 10px;
  margin-top: 100px; 
  min-height: 100vh;
  height: auto;
  overflow: auto;
 
}


/* Tabs container to fill the full width of the screen */
.tabs {
  display: flex;
  gap: 10px;
  justify-content: space-between;  /* Distribute tabs across the full width */
  align-items: center;
  padding: 0;
  margin: 10px;
  list-style: none;
  width: 20%;    
  position: absolute;
  top: 0;
  left: 0;
}

#insta {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.innerContent {
  max-width: 55%;
  height: 100vh;
}


/* Content area below tabs */
.content {
  margin-top: 30px;
  padding: 20px;
  color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: flex-start;
  font-size: 14px;
  animation: fadeIn var(--transition-time) ease-in-out;
}

.name {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin-top: 30px;
  padding: 20px;
  color: black;
  width: 100%;
  height: 1280px;
  
  font-size: 14px;
  display: flex;
  flex-direction: column;  /* Stack items vertically */
  justify-content: flex-start; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  animation: fadeIn var(--transition-time) ease-in-out;

}

.content img { 
  height: 40%;
  width: auto;
  margin-right: 20px;
  border-radius: 10px; /* Optional: for rounded corners */
}