@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


* {
  box-sizing: border-box;
}

:root {
  --transition-time: 1.5s;
}





.bg-active {
  background-image: url('assets/dukeonhisknees.jpg');
  background-size: 130%;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.bg-inactive {
  background-color: black;
}


body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: #d9e2f1;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: scroll;
}

h1 {
  padding: 0;
  margin: 1rem;
  font-family: Tangerine;
  font-size: 100px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Flexbox container for the app */
.App {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  /* Stack the content vertically */
  justify-content: flex-start;
  /* Align the items to the top */
  align-items: center;
  flex-grow: 1;
  /* Full viewport height */
  width: 100%;
  /* Full width */
  margin-bottom: 4rem;
  /* Remove any margin */

}


/* Tabs container to fill the full width of the screen */
.tabs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  /* Distribute tabs across the full width */
  align-items: center;
  padding: 0;
  margin: 10px;
  list-style: none;
  width: 20%;
}

header {
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#insta {
  height: 60px;
  width: 60px;
  margin-right: 0.5rem;
}

.innerContent {
  max-width: 55%;
}


/* Content area below tabs */
.content {
  margin-top: 30px;
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  align-content: flex-start;
  font-size: 14px;
  animation: fadeIn var(--transition-time) ease-in-out;
}

.name {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin-top: 30px;
  padding: 20px;
  color: black;
  width: 100%;
  height: 1280px;

  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: flex-start;
  /* Center items vertically */
  align-items: center;
  /* Center items horizontally */
  animation: fadeIn var(--transition-time) ease-in-out;

}

.content img {
  height: 40%;
  width: auto;
  margin-right: 20px;
  border-radius: 10px;
  /* Optional: for rounded corners */
}

thead {
  font-size: 20px;
  font-weight: bold;
}

td,
th {
  vertical-align: middle;
  text-align: left;
  padding: 0rem 0rem 1.5rem 1rem;
}

table {
  font-size: 14px;
}

.about {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: flex-start;
  /* Center items vertically */
  align-items: center;
  /* Center items horizontally */

}

.about img {
  width: 20rem;
  margin-right: 20px;
  border-radius: 10px;
  /* Optional: for rounded corners */
}