@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




* {
  box-sizing: border-box;
}

:root {
  --transition-time: 1.5s;
}





.bg-active {
  background-image: url('assets/dukeonhisknees.jpg');
  background-size: 130%;
  background-position: 80% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.bg-inactive {
  background-color: black;
}


body {
  margin: 0;
  font-family: 'Lato', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: #d9e2f1;
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
  background: scroll;
}

h1 {
  padding: 0;
  margin: 1rem;
  font-family: Tangerine;
  font-size: 100px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Flexbox container for the app */
.App {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  /* Stack the content vertically */
  justify-content: flex-start;
  /* Align the items to the top */
  align-items: center;
  flex-grow: 1;
  /* Full viewport height */
  width: 100%;
  /* Full width */
  margin-bottom: 4rem;
  /* Remove any margin */

}


/* Tabs container to fill the full width of the screen */
.tabs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  /* Distribute tabs across the full width */
  align-items: center;
  padding: 0;
  margin: 10px;
  list-style: none;
  width: 20%;
}

header {
  margin-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.transparent {
  background-color: transparent;
}




#insta {
  height: 60px;
  width: 60px;
  margin-right: 0.5rem;
}

.innerContent {
  max-width: 55%;
}


/* Content area below tabs */
.content {
  margin-top: 30px;
  padding: 20px;
  color: white;
  width: 100%;
  display: flex;
  align-content: flex-start;
  font-size: 14px;
  animation: fadeIn var(--transition-time) ease-in-out;
}

.name {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  margin-top: 30px;
  padding: 20px;
  color: black;
  width: 100%;

  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  /* Stack items vertically */
  justify-content: flex-start;
  /* Center items vertically */
  align-items: center;
  /* Center items horizontally */
  animation: fadeIn var(--transition-time) ease-in-out;

}

.content img {
  height: 40%;
  width: auto;
  margin-right: 20px;
  border-radius: 10px;
  /* Optional: for rounded corners */
}

thead {
  font-size: 20px;
  font-weight: bold;
}

td,
th {
  vertical-align: middle;
  text-align: left;
  padding: 0rem 0rem 1.5rem 1rem;
}

table {
  font-size: 14px;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-70px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about, .contact, .video, .gallery {
  animation: slideInFromTop 0.6s ease-out forwards;
}

.about {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* Stack items vertically */
  justify-content: flex-start;
  /* Center items vertically */
  align-items: center;
  /* Center items horizontally */

}

.about img {
  width: 20rem;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(7, 8, 68)
}

.contact {
  margin-top: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact img {
  width: 20rem;
  margin-right: 5rem;
  border-top-right-radius: 10rem;
  border-top-left-radius: 10rem;
}